In [1]:
# Import Library Dependencies
import matplotlib.pyplot as plt
import datetime as dt
import pandas as pd
import numpy as np
import quandl as ql

# Import Custom API Functions
from apidata import (
    timeseries_stock_data,
    qry_balance_sheet,
    qry_income_statement,
    qry_cash_flow_statement
)

%matplotlib inline

In [2]:
amzn = timeseries_stock_data("amzn")["Close"].reset_index()

In [3]:
amzn['%rtn'] = amzn["Close"].pct_change()

In [4]:
amzn["%rtn"].describe()

count    1063.000000
mean        0.001420
std         0.018659
min        -0.109972
25%        -0.006891
50%         0.001110
75%         0.010383
max         0.141311
Name: %rtn, dtype: float64

In [5]:
ret_std = amzn["%rtn"].describe()["std"]**.5
ret_std

0.1365968421329802

In [6]:
amzn["%rtn_radj"] = amzn["%rtn"].apply(lambda x: x/ret_std)

In [7]:
amzn.head()

        Date   Close      %rtn  %rtn_radj
0 2014-01-02  397.97       NaN        NaN
1 2014-01-03  396.44 -0.003845  -0.028145
2 2014-01-06  393.63 -0.007088  -0.051891
3 2014-01-07  398.03  0.011178   0.081832
4 2014-01-08  401.92  0.009773   0.071547