In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
import quandl

from config import quandl_api_key

In [13]:
# [Function] Company Stock Return Data
# Params: Stock Ticker Symbol
# Output: <DataFrame> Weekly Stock Return Data

def quandl_stock_data(symbol, verbose=False):
    # <Define> DataFrame Column Headers
    headers = [
        'Open',
        'High',
        'Low',
        'Close',
        'Volume',
        'Ex-Dividend'
    ]
    
    # <Set> API Query Parameters
    query_params = {
        'symbol': symbol.upper(),
        'start_date': "2014-01-01",
        "end_date": "2019-01-01",
        "collapse": "monthly",
        "data_type": "pandas",    # [numpy | pandas ] Array vs DataFrame
    }
        
    try:
        
        # User Quandl Get to Query API
        stock_returns = quandl.get(
            f"WIKI/{query_params['symbol']}",
            start_date = query_params['start_date'],
            end_date = query_params['end_date'],
            colapse = query_params['collapse'],
            returns = query_params['data_type'],
            authtoken = quandl_api_key
        )[headers]
        
        # <Print> Quandl API Summary
        if verbose:
            print(f"\n[Quandl] Query API Summary:\n")
            print("-" * 75, "\n")
            for param, val in query_params.items():
                print(f"- {param}:", val)

            print("\n",("-" * 75), "\n")
            print("\n[Preview] Response DataFrame\n")
            print("\n",stock_returns.head(10), "\n")
            print("-" * 75, "\n")
            print("\n[View] DataFrame Columns -- Data Uniformity\n")
            print(stock_returns.count(), "\n")
            print("-" * 75, "\n")
            print("\n[View] DataFrame Columns -- Data Types\n")
            print(stock_returns.dtypes, "\n")
        
        # Return DataFrame Containing API Response Data
        return stock_returns

    except:
        
        print(f"\n[Error | API Query] Invalid Company Symbol: {query_params['symbol']}")
        return None

In [15]:
# [Function Test | Verbose] - Query Quandl API: AMZN

amzn_df = quandl_stock_data("AMZN", verbose=True)

[Quandl] Query API Summary:

---------------------------------------------------------------------------

- symbol: AMZN
- start_date: 2014-01-01
- end_date: 2019-01-01
- collapse: monthly
- data_type: pandas

 ---------------------------------------------------------------------------


[Preview] Response DataFrame


               Open     High      Low   Close     Volume  Ex-Dividend
Date
2014-01-02  398.80  399.360  394.020  397.97  2137800.0          0.0
2014-01-03  398.29  402.710  396.220  396.44  2210200.0          0.0
2014-01-06  395.85  397.000  388.420  393.63  3170600.0          0.0
2014-01-07  395.04  398.470  394.290  398.03  1916000.0          0.0
2014-01-08  398.47  403.000  396.040  401.92  2316500.0          0.0
2014-01-09  403.71  406.890  398.440  401.01  2103000.0          0.0
2014-01-10  402.53  403.764  393.800  397.66  2679500.0          0.0
2014-01-13  397.98  399.780  388.450  390.98  2844900.0          0.0
2014-01-14  392.13  398.630  391.290  397.54  2340100.0          0.0
2014-01-15  398.94  399.310  392.534  395.87  2678300.0          0.0

---------------------------------------------------------------------------


[View] DataFrame Columns -- Data Uniformity

Open           1064
High           1064
Low            1064
Close          1064
Volume         1064
Ex-Dividend    1064
dtype: int64

---------------------------------------------------------------------------


[View] DataFrame Columns -- Data Types

Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
Ex-Dividend    float64
dtype: object

In [4]:
# Preview Stock Return DataFrame

amzn_df.head(15)

              Open     High      Low   Close     Volume  Ex-Dividend
Date
2014-01-02  398.80  399.360  394.020  397.97  2137800.0          0.0
2014-01-03  398.29  402.710  396.220  396.44  2210200.0          0.0
2014-01-06  395.85  397.000  388.420  393.63  3170600.0          0.0
2014-01-07  395.04  398.470  394.290  398.03  1916000.0          0.0
2014-01-08  398.47  403.000  396.040  401.92  2316500.0          0.0
2014-01-09  403.71  406.890  398.440  401.01  2103000.0          0.0
2014-01-10  402.53  403.764  393.800  397.66  2679500.0          0.0
2014-01-13  397.98  399.780  388.450  390.98  2844900.0          0.0
2014-01-14  392.13  398.630  391.290  397.54  2340100.0          0.0
2014-01-15  398.94  399.310  392.534  395.87  2678300.0          0.0
2014-01-16  393.68  399.290  389.410  395.80  2601200.0          0.0
2014-01-17  394.26  403.490  393.660  399.61  4505100.0          0.0
2014-01-21  403.00  407.800  401.600  407.05  3122100.0          0.0
2014-01-22  408.00  408.060  402.000  404.54  2060500.0          0.0
2014-01-23  401.00  406.170  397.790  399.87  3025400.0          0.0

In [ ]:
# [Test API] Force Error by Quering Invalid Symbol (No ETFS)

spy_df = quandl_stock_data("spy", verbose=True)

In [ ]:
# View TSLA Closing Price Data Summary - Past 5 Years

quandl_stock_data("tsla")["Close"].describe()

In [ ]:
# Plot SBUX Price Data

quandl_stock_data("sbux")["Close"].plot()
plt.show()

In [10]:
numpy_test = quandl_stock_data("amzn", verbose=True)

[Quandl] Query API Summary:

---------------------------------------------------------------------------

- symbol: AMZN
- start_date: 2014-01-01
- end_date: 2019-01-01
- collapse: monthly
- data_type: numpy

 ---------------------------------------------------------------------------


[Preview] Response DataFrame


[Error | API Query] Invalid Company Symbol: AMZN

In [14]:
quandl_stock_data("amzn", verbose=True)

[Quandl] Query API Summary:

---------------------------------------------------------------------------

- symbol: AMZN
- start_date: 2014-01-01
- end_date: 2019-01-01
- collapse: monthly
- data_type: pandas

 ---------------------------------------------------------------------------


[Preview] Response DataFrame


               Open     High      Low   Close     Volume  Ex-Dividend
Date
2014-01-02  398.80  399.360  394.020  397.97  2137800.0          0.0
2014-01-03  398.29  402.710  396.220  396.44  2210200.0          0.0
2014-01-06  395.85  397.000  388.420  393.63  3170600.0          0.0
2014-01-07  395.04  398.470  394.290  398.03  1916000.0          0.0
2014-01-08  398.47  403.000  396.040  401.92  2316500.0          0.0
2014-01-09  403.71  406.890  398.440  401.01  2103000.0          0.0
2014-01-10  402.53  403.764  393.800  397.66  2679500.0          0.0
2014-01-13  397.98  399.780  388.450  390.98  2844900.0          0.0
2014-01-14  392.13  398.630  391.290  397.54  2340100.0          0.0
2014-01-15  398.94  399.310  392.534  395.87  2678300.0          0.0

---------------------------------------------------------------------------


[View] DataFrame Columns -- Data Uniformity

Open           1064
High           1064
Low            1064
Close          1064
Volume         1064
Ex-Dividend    1064
dtype: int64

---------------------------------------------------------------------------


[View] DataFrame Columns -- Data Types

Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
Ex-Dividend    float64
dtype: object

                Open       High       Low    Close      Volume  Ex-Dividend
Date
2014-01-02   398.800   399.3600   394.020   397.97   2137800.0          0.0
2014-01-03   398.290   402.7100   396.220   396.44   2210200.0          0.0
2014-01-06   395.850   397.0000   388.420   393.63   3170600.0          0.0
2014-01-07   395.040   398.4700   394.290   398.03   1916000.0          0.0
2014-01-08   398.470   403.0000   396.040   401.92   2316500.0          0.0
2014-01-09   403.710   406.8900   398.440   401.01   2103000.0          0.0
2014-01-10   402.530   403.7640   393.800   397.66   2679500.0          0.0
2014-01-13   397.980   399.7800   388.450   390.98   2844900.0          0.0
2014-01-14   392.130   398.6300   391.290   397.54   2340100.0          0.0
2014-01-15   398.940   399.3100   392.534   395.87   2678300.0          0.0
2014-01-16   393.680   399.2900   389.410   395.80   2601200.0          0.0
2014-01-17   394.260   403.4900   393.660   399.61   4505100.0          0.0
2014-01-21   403.000   407.8000   401.600   407.05   3122100.0          0.0
2014-01-22   408.000   408.0600   402.000   404.54   2060500.0          0.0
2014-01-23   401.000   406.1700   397.790   399.87   3025400.0          0.0
2014-01-24   398.160   400.2000   387.270   387.60   4458400.0          0.0
2014-01-27   390.500   394.1000   380.490   386.28   3936800.0          0.0
2014-01-28   387.400   394.7400   387.120   394.43   2894500.0          0.0
2014-01-29   392.160   392.8500   383.240   384.20   3382300.0          0.0
2014-01-30   393.770   406.2500   387.700   403.01  10473900.0          0.0
2014-01-31   371.760   375.4500   357.760   358.69  16154800.0          0.0
2014-02-03   358.980   360.8500   340.100   346.15  10280800.0          0.0
2014-02-04   349.590   353.9975   344.020   347.95   4812900.0          0.0
2014-02-05   346.000   349.3700   337.730   346.45   4435400.0          0.0
2014-02-06   347.403   354.8200   347.403   354.59   3335700.0          0.0
2014-02-07   358.980   361.8000   352.490   361.08   4330500.0          0.0
2014-02-10   361.610   365.0000   359.350   360.87   3449700.0          0.0
2014-02-11   361.842   363.6100   356.250   361.79   3222100.0          0.0
2014-02-12   356.430   357.7500   346.320   349.25   6587700.0          0.0
2014-02-13   347.700   357.2000   346.500   357.20   4175000.0          0.0
...              ...        ...       ...      ...         ...          ...
2018-02-13  1385.930  1419.7200  1383.530  1414.51   5858860.0          0.0
2018-02-14  1406.250  1452.0600  1403.360  1451.05   5881238.0          0.0
2018-02-15  1466.890  1468.9400  1436.840  1461.76   5598111.0          0.0
2018-02-16  1457.370  1465.8000  1446.560  1448.69   4410879.0          0.0
2018-02-20  1446.490  1488.7700  1446.490  1468.35   6388374.0          0.0
2018-02-21  1485.000  1503.4900  1478.920  1482.92   6216694.0          0.0
2018-02-22  1495.360  1502.5400  1475.760  1484.76   4732555.0          0.0
2018-02-23  1495.340  1500.0000  1486.500  1500.00   4327008.0          0.0
2018-02-26  1509.200  1522.8400  1507.000  1521.95   4909053.0          0.0
2018-02-27  1524.500  1526.7800  1507.210  1511.98   4708378.0          0.0
2018-02-28  1519.510  1528.7000  1512.000  1512.45   4426580.0          0.0
2018-03-01  1513.600  1518.4900  1465.000  1493.45   6835230.0          0.0
2018-03-02  1469.100  1501.0500  1455.010  1500.25   6587564.0          0.0
2018-03-05  1494.240  1525.3800  1481.000  1523.61   5233934.0          0.0
2018-03-06  1533.200  1542.1300  1528.000  1537.64   4561718.0          0.0
2018-03-07  1526.520  1545.9000  1522.510  1545.00   4174123.0          0.0
2018-03-08  1550.000  1554.8800  1545.250  1551.86   3512528.0          0.0
2018-03-09  1563.500  1578.9400  1559.080  1578.89   4417059.0          0.0
2018-03-12  1592.600  1605.3300  1586.700  1598.39   5115886.0          0.0
2018-03-13  1615.960  1617.5400  1578.010  1588.18   6427066.0          0.0
2018-03-14  1597.000  1606.4400  1590.890  1591.00   4164395.0          0.0
2018-03-15  1595.000  1596.9100  1578.110  1582.32   4026744.0          0.0
2018-03-16  1583.450  1589.4400  1567.500  1571.68   5145054.0          0.0
2018-03-19  1554.530  1561.6600  1525.350  1544.93   6376619.0          0.0
2018-03-20  1550.340  1587.0000  1545.410  1586.51   4507049.0          0.0
2018-03-21  1586.450  1590.0000  1563.170  1581.86   4667291.0          0.0
2018-03-22  1565.470  1573.8500  1542.400  1544.10   6177737.0          0.0
2018-03-23  1539.010  1549.0200  1495.360  1495.56   7843966.0          0.0
2018-03-26  1530.000  1556.9900  1499.250  1555.86   5547618.0          0.0
2018-03-27  1572.400  1575.9600  1482.320  1497.05   6793279.0          0.0

[1064 rows x 6 columns]