In [1]:
from sqlalchemy import create_engine, ForeignKey, inspect, exc
from sqlalchemy import Column, DateTime, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from config import user, password

In [2]:
Base = declarative_base()

In [3]:
class mlb_team(Base):
    __tablename__ = 'mlb_teams_2019'
    name = Column(String(50), primary_key=True)
    wins = Column(Integer, nullable=False)
    loss = Column(Integer, nullable=False)
    rank = Column(Integer, nullable=False)

class mlb_player(Base):
    __tablename__ = 'mlb_players_2019'
    pid = Column(Integer, primary_key=True)
    fname = Column(String(50), nullable=False)
    lname = Column(String(50), nullable=False)
    age = Column(Integer)
    height = Column(String(10))
    weight = Column(String(10))
    birthday = Column(String(50))
    city = Column(String(50))
    number = Column(Integer)
    position = Column(String(25))
    exp = Column(String(10))
    team = Column(String(50))
    tid = Column(String(5))
    throw = Column(String(10))
    bat = Column(String(10))
    college = Column(String(50))

class player_stats(Base):
    __tablename__ = 'player_stats_2019'
    id = Column(Integer, primary_key=True, autoincrement=True)
    pid = Column(Integer, ForeignKey('mlb_players_2019.pid'))
    rbi = Column(Float)
    era = Column(Float)
    
Base.metadata.tables

immutabledict({'mlb_teams_2019': Table('mlb_teams_2019', MetaData(bind=None), Column('name', String(length=50), table=<mlb_teams_2019>, primary_key=True, nullable=False), Column('wins', Integer(), table=<mlb_teams_2019>, nullable=False), Column('loss', Integer(), table=<mlb_teams_2019>, nullable=False), Column('rank', Integer(), table=<mlb_teams_2019>, nullable=False), schema=None), 'mlb_players_2019': Table('mlb_players_2019', MetaData(bind=None), Column('pid', Integer(), table=<mlb_players_2019>, primary_key=True, nullable=False), Column('fname', String(length=50), table=<mlb_players_2019>, nullable=False), Column('lname', String(length=50), table=<mlb_players_2019>, nullable=False), Column('age', Integer(), table=<mlb_players_2019>), Column('height', String(length=10), table=<mlb_players_2019>), Column('weight', String(length=10), table=<mlb_players_2019>), Column('birthday', String(length=50), table=<mlb_players_2019>), Column('city', String(length=50), table=<mlb_players_2019>), Column('number', Integer(), table=<mlb_players_2019>), Column('position', String(length=25), table=<mlb_players_2019>), Column('exp', String(length=10), table=<mlb_players_2019>), Column('team', String(length=50), table=<mlb_players_2019>), Column('tid', String(length=5), table=<mlb_players_2019>), Column('throw', String(length=10), table=<mlb_players_2019>), Column('bat', String(length=10), table=<mlb_players_2019>), Column('college', String(length=50), table=<mlb_players_2019>), schema=None), 'player_stats_2019': Table('player_stats_2019', MetaData(bind=None), Column('id', Integer(), table=<player_stats_2019>, primary_key=True, nullable=False), Column('pid', Integer(), ForeignKey('mlb_players_2019.pid'), table=<player_stats_2019>), Column('rbi', Float(), table=<player_stats_2019>), Column('era', Float(), table=<player_stats_2019>), schema=None)})

In [4]:
MySQL_DB_Connection = f'{user}:{password}@localhost/moneyball_db'
try:
    engine = create_engine(f'mysql://{MySQL_DB_Connection}', echo=False)
    connection = engine.connect()
    print(f'\n<Connected> MySQL Datbase: moneyball_db')

except exc.OperationalError:
    MySQL_Base_Connection = f'{user}:{password}@localhost'
    engine = create_engine(f'mysql://{MySQL_Base_Connection}', echo=False)
    connection = engine.connect()
    engine.execute('CREATE DATABASE IF NOT EXISTS moneyball_db;')
    engine = create_engine(f'mysql://{MySQL_DB_Connection}', echo=False)
    print(f'\n<Created> MySQL Database: moneyball_db [Connection:Successful]')

<Created> MySQL Database: moneyball_db [Connection:Successful]

In [5]:
Base.metadata.create_all(engine)

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['mlb_players_2019', 'mlb_teams_2019', 'player_stats_2019']

In [7]:
# MySQl Databawe - Table#1: mlb_teams_2019
inspector.get_columns(inspector.get_table_names()[0])

[{'name': 'pid',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': True},
 {'name': 'fname',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'lname',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'age',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': True,
  'autoincrement': False},
 {'name': 'height',
  'type': VARCHAR(length=10),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'weight',
  'type': VARCHAR(length=10),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'birthday',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'city',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'number',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': True,
  'autoincrement': False},
 {'name': 'position',
  'type': VARCHAR(length=25),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'exp',
  'type': VARCHAR(length=10),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'team',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'tid',
  'type': VARCHAR(length=5),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'throw',
  'type': VARCHAR(length=10),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'bat',
  'type': VARCHAR(length=10),
  'default': None,
  'comment': None,
  'nullable': True},
 {'name': 'college',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': True}]

In [8]:
# MySQL Database - Table#2: mlb_players_2019
inspector.get_columns(inspector.get_table_names()[1])

[{'name': 'name',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'wins',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False},
 {'name': 'loss',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False},
 {'name': 'rank',
  'type': INTEGER(display_width=11),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False}]