In [1]:
from config import user, password
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
from sqlalchemy import(
    inspect,
    create_engine,
    ForeignKey,
    Column,
    Boolean,
    DateTime,
    Float,
    Integer,
    String,
    exc
)

In [2]:
Base = declarative_base()

In [3]:
class Student(Base):
    __tablename__ = 'students'
    id = Column(
        Integer,
        primary_key=True
    )
    fname = Column(
        String(100),
        nullable=False
    )
    lname = Column(
        String(100),
        nullable=False
    )
    age = Column(
        Integer,
        nullable=True
    )
    updated_on = Column(
        DateTime,
        nullable=False
    )
    updated_by = Column(
        String(100),
        nullable=False
    )
    
    # Creates One-to-Many Relationship w/ Records Tables
    records = relationship('Record')

    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.id}, '
                f'{self.fname}, '
                f'{self.lname}, '
                f'{self.age}, '
                f'{self.updated_on}, '
                f'{self.updated_by})')

In [4]:
class School(Base):
    __tablename__ = 'schools'
    id = Column(
        Integer,
        primary_key=True
    )
    name = Column(
        String(100),
        nullable=False
    )
    address = Column(
        String(100),
        nullable=True
    )
    city = Column(
        String(100),
        nullable=True
    )
    state = Column(
        String(2),
        nullable=True
    )
    
    zipcode = Column(
        Integer,
        nullable=False
    )
    lat = Column(
        Float,
        nullable=False
    )
    lon = Column(
        Float,
        nullable=False
    )

    # Creates One-to-Many Relationship w/ Records Table
    records = relationship('Record')
    
    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.school_id}, '
                f'{self.school_name}, '
                f'{self.school_address}, '
                f'{self.school_zipcode}, '
                f'{self.school_lat}, '
                f'{self.school_lon})')

In [5]:
class Program(Base):
    __tablename__ = 'programs'
    id = Column(
        String(5),
        primary_key=True
    )
    name = Column(
        String(100),
        nullable=False
    )
    start_date = Column(
        DateTime,
        nullable=True
    )
    end_date = Column(
        DateTime,
        nullable=True
    )
    
    # Creates One-to-Many Relationship w/ Records Table
    records = relationship('Record')
    
    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.program_id}, '
                f'{self.program_name}, '
                f'{self.program_description}, '
                f'{self.program_start_date}, '
                f'{self.program_end_date}, '
                f'{self.program_school_id})')

In [6]:
class Record(Base):
    __tablename__ = 'records'
    id = Column(
        Integer,
        primary_key=True,
        autoincrement=True
    )
    student_id = Column(
        Integer,
        ForeignKey('students.id'),
        nullable=False
    )
    school_id = Column(
        Integer,
        ForeignKey('schools.id'),
        nullable=False
    )
    entry_date = Column(
        DateTime,
        nullable=False
    )
    program_id = Column(
        String(5),
        ForeignKey('programs.id'),
        default='Gen'
    )
    grade_level = Column(
        Integer,
        nullable=True
    )
    leave_date = Column(
        DateTime,
        nullable=False
    )
    exit_reason = Column(
        Integer,
        nullable=False
    )
    
    # BackRef Specification of a Student When Creating Record
    student = relationship(
        'Student', 
        backref=backref('records')
    )
    
    # BackRef Specification of a School When Creating a Record
    school = relationship(
        'School', 
        backref=backref('records')
    )
    
    # BackRef Specification of a Program When Creating a Record
    program = relationship(
        'Program', 
        backref=backref('records')
    )

    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.record_index}, '
                f'{self.student_id}, '
                f'{self.student_school_id}, '
                f'{self.student_entry_date}, '
                f'{self.student_program_id}, '
                f'{self.student_grade_level}, '
                f'{self.student_leave_date}, '
                f'{self.student_exit_reason})')

In [7]:
mysql_uri = f'mysql://{user}:{password}@localhost/student_mobility'

In [8]:
try:
    engine = create_engine(mysql_uri, echo=True)
    connection = engine.connect()
    print('\n<Connected> MySQL Database: student_mobility')

except exc.OperationalError:
    MySQL_Base_Connection = f'{user}:{password}@localhost'
    engine = create_engine(f'mysql://{MySQL_Base_Connection}', echo=True)
    connection = engine.connect()
    engine.execute('CREATE DATABASE IF NOT EXISTS student_mobility;')
    engine = create_engine(mysql_uri, echo=True)
    print('\n<Created> New MySQL Database: student_mobility [Connection: Established]')

2019-09-10 20:32:08,454 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-09-10 20:32:08,456 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,459 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-09-10 20:32:08,460 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,463 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-09-10 20:32:08,463 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,465 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-09-10 20:32:08,465 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,467 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-09-10 20:32:08,468 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,469 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-09-10 20:32:08,470 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,472 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-09-10 20:32:08,472 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,476 INFO sqlalchemy.engine.base.Engine CREATE DATABASE IF NOT EXISTS student_mobility;
2019-09-10 20:32:08,477 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:08,479 INFO sqlalchemy.engine.base.Engine COMMIT

<Created> New MySQL Database: student_mobility [Connection: Established]

In [9]:
Base.metadata.create_all(engine)

2019-09-10 20:32:10,960 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-09-10 20:32:10,961 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,963 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-09-10 20:32:10,965 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,968 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-09-10 20:32:10,969 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,971 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-09-10 20:32:10,972 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,973 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-09-10 20:32:10,974 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,975 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-09-10 20:32:10,976 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,978 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-09-10 20:32:10,979 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,980 INFO sqlalchemy.engine.base.Engine DESCRIBE `students`
2019-09-10 20:32:10,981 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,982 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-09-10 20:32:10,984 INFO sqlalchemy.engine.base.Engine DESCRIBE `schools`
2019-09-10 20:32:10,985 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,987 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-09-10 20:32:10,988 INFO sqlalchemy.engine.base.Engine DESCRIBE `programs`
2019-09-10 20:32:10,988 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,989 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-09-10 20:32:10,990 INFO sqlalchemy.engine.base.Engine DESCRIBE `records`
2019-09-10 20:32:10,990 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:10,992 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-09-10 20:32:10,993 INFO sqlalchemy.engine.base.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	fname VARCHAR(100) NOT NULL,
	lname VARCHAR(100) NOT NULL,
	age INTEGER,
	updated_on DATETIME NOT NULL,
	updated_by VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2019-09-10 20:32:10,994 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:11,005 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-10 20:32:11,007 INFO sqlalchemy.engine.base.Engine
CREATE TABLE schools (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	address VARCHAR(100),
	city VARCHAR(100),
	state VARCHAR(2),
	zipcode INTEGER NOT NULL,
	lat FLOAT NOT NULL,
	lon FLOAT NOT NULL,
	PRIMARY KEY (id)
)


2019-09-10 20:32:11,008 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:11,016 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-10 20:32:11,017 INFO sqlalchemy.engine.base.Engine
CREATE TABLE programs (
	id VARCHAR(5) NOT NULL,
	name VARCHAR(100) NOT NULL,
	start_date DATETIME,
	end_date DATETIME,
	PRIMARY KEY (id)
)


2019-09-10 20:32:11,018 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:11,028 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-10 20:32:11,029 INFO sqlalchemy.engine.base.Engine
CREATE TABLE records (
	id INTEGER NOT NULL AUTO_INCREMENT,
	student_id INTEGER NOT NULL,
	school_id INTEGER NOT NULL,
	entry_date DATETIME NOT NULL,
	program_id VARCHAR(5),
	grade_level INTEGER,
	leave_date DATETIME NOT NULL,
	exit_reason INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(student_id) REFERENCES students (id),
	FOREIGN KEY(school_id) REFERENCES schools (id),
	FOREIGN KEY(program_id) REFERENCES programs (id)
)


2019-09-10 20:32:11,030 INFO sqlalchemy.engine.base.Engine ()
2019-09-10 20:32:11,043 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
inspector = inspect(engine)

In [11]:
students = [stdnt['name'] for stdnt in inspector.get_columns('students')]
students

2019-09-10 20:32:11,897 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `students`
2019-09-10 20:32:11,898 INFO sqlalchemy.engine.base.OptionEngine ()

['id', 'fname', 'lname', 'age', 'updated_on', 'updated_by']

In [12]:
schools = [school['name'] for school in inspector.get_columns('schools')]
schools

2019-09-10 20:32:12,196 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `schools`
2019-09-10 20:32:12,198 INFO sqlalchemy.engine.base.OptionEngine ()

['id', 'name', 'address', 'city', 'state', 'zipcode', 'lat', 'lon']

In [13]:
programs = [prgm['name'] for prgm in inspector.get_columns('programs')]
programs

2019-09-10 20:32:12,393 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `programs`
2019-09-10 20:32:12,393 INFO sqlalchemy.engine.base.OptionEngine ()

['id', 'name', 'start_date', 'end_date']

In [14]:
records = [rec['name'] for rec in inspector.get_columns('records')]
records

2019-09-10 20:32:12,565 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `records`
2019-09-10 20:32:12,566 INFO sqlalchemy.engine.base.OptionEngine ()

['id',
 'student_id',
 'school_id',
 'entry_date',
 'program_id',
 'grade_level',
 'leave_date',
 'exit_reason']

In [15]:
print('Initialize MySQL Datbase: <Complete>')

Initialize MySQL Datbase: <Complete>