In [1]:
from config import user, password
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
from sqlalchemy import(
    inspect,
    create_engine,
    ForeignKey,
    Column,
    Boolean,
    DateTime,
    Float,
    Integer,
    String,
    exc
)

In [2]:
Base = declarative_base()

In [3]:
class Student(Base):
    __tablename__ = 'students'
    id = Column(
        Integer,
        primary_key=True
    )
    fname = Column(
        String(100),
        nullable=False
    )
    lname = Column(
        String(100),
        nullable=False
    )
    age = Column(
        Integer,
        nullable=True
    )
    updated_on = Column(
        DateTime,
        nullable=False
    )
    updated_by = Column(
        String(100),
        nullable=False
    )
    
    # Creates One-to-Many Relationship w/ Records Tables
    records = relationship('Record')

    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.student_id}, '
                f'{self.student_fname}, '
                f'{self.student_lname}, '
                f'{self.student_age}, '
                f'{self.updated_on}, '
                f'{self.updated_by})')

In [4]:
class School(Base):
    __tablename__ = 'schools'
    id = Column(
        Integer,
        primary_key=True
    )
    name = Column(
        String(100),
        nullable=False
    )
    address = Column(
        String(100),
        nullable=True
    )
    city = Column(
        String(100),
        nullable=True
    )
    state = Column(
        String(2),
        nullable=True
    )
    
    zipcode = Column(
        Integer,
        nullable=False
    )
    lat = Column(
        Float,
        nullable=False
    )
    lon = Column(
        Float,
        nullable=False
    )

    # Creates One-to-Many Relationship w/ Records Table
    records = relationship('Record')
    
    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.school_id}, '
                f'{self.school_name}, '
                f'{self.school_address}, '
                f'{self.school_zipcode}, '
                f'{self.school_lat}, '
                f'{self.school_lon})')

In [5]:
class Program(Base):
    __tablename__ = 'programs'
    id = Column(
        String(5),
        primary_key=True
    )
    name = Column(
        String(100),
        nullable=False
    )
    start_date = Column(
        DateTime,
        nullable=True
    )
    end_date = Column(
        DateTime,
        nullable=True
    )
    
    # Creates One-to-Many Relationship w/ Records Table
    records = relationship('Record')
    
    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.program_id}, '
                f'{self.program_name}, '
                f'{self.program_description}, '
                f'{self.program_start_date}, '
                f'{self.program_end_date}, '
                f'{self.program_school_id})')

In [6]:
class Record(Base):
    __tablename__ = 'records'
    id = Column(
        Integer,
        primary_key=True,
        autoincrement=True
    )
    student_id = Column(
        Integer,
        ForeignKey('students.id'),
        nullable=False
    )
    school_id = Column(
        Integer,
        ForeignKey('schools.id'),
        nullable=False
    )
    entry_date = Column(
        DateTime,
        nullable=False
    )
    program_id = Column(
        String(5),
        ForeignKey('programs.id'),
        default='Gen'
    )
    grade_level = Column(
        Integer,
        nullable=True
    )
    leave_date = Column(
        DateTime,
        nullable=False
    )
    exit_reason = Column(
        Integer,
        nullable=False
    )
    
    # BackRef Specification of a Student When Creating Record
    student = relationship(
        'Student', 
        backref=backref('records')
    )
    
    # BackRef Specification of a School When Creating a Record
    school = relationship(
        'School', 
        backref=backref('records')
    )
    
    # BackRef Specification of a Program When Creating a Record
    program = relationship(
        'Program', 
        backref=backref('records')
    )

    def __repr__(self):
        return (f'{self.__class__.__name__}('
                f'{self.record_index}, '
                f'{self.student_id}, '
                f'{self.student_school_id}, '
                f'{self.student_entry_date}, '
                f'{self.student_program_id}, '
                f'{self.student_grade_level}, '
                f'{self.student_leave_date}, '
                f'{self.student_exit_reason})')

In [7]:
mysql_uri = f'mysql://{user}:{password}@localhost/student_mobility'

In [8]:
try:
    engine = create_engine(mysql_uri, echo=True)
    connection = engine.connect()
    print('\n<Connected> MySQL Database: student_mobility')

except exc.OperationalError:
    MySQL_Base_Connection = f'{user}:{password}@localhost'
    engine = create_engine(f'mysql://{MySQL_Base_Connection}', echo=True)
    connection = engine.connect()
    engine.execute('CREATE DATABASE IF NOT EXISTS student_mobility;')
    engine = create_engine(mysql_uri, echo=True)
    print('\n<Created> New MySQL Database: student_mobility [Connection: Established]')

2019-06-29 08:36:16,437 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-06-29 08:36:16,439 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,442 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-06-29 08:36:16,442 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,444 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-06-29 08:36:16,445 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,446 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-06-29 08:36:16,447 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,448 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-06-29 08:36:16,449 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,450 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-06-29 08:36:16,451 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,452 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-06-29 08:36:16,453 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,456 INFO sqlalchemy.engine.base.Engine CREATE DATABASE IF NOT EXISTS student_mobility;
2019-06-29 08:36:16,457 INFO sqlalchemy.engine.base.Engine ()
2019-06-29 08:36:16,459 INFO sqlalchemy.engine.base.Engine COMMIT

<Created> New MySQL Database: student_mobility [Connection: Established]

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
inspector = inspect(engine)

In [ ]:
students = [stdnt['name'] for stdnt in inspector.get_columns('students')]
students

In [ ]:
schools = [school['name'] for school in inspector.get_columns('schools')]
schools

In [ ]:
programs = [prgm['name'] for prgm in inspector.get_columns('programs')]
programs

In [ ]:
records = [rec['name'] for rec in inspector.get_columns('records')]
records

In [ ]:
print('Initialize MySQL Datbase: <Complete>')